@import "pretendard/dist/web/variable/pretendardvariable.css";

@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 400;
    src: url('../font/godo-400.woff2') format('woff2'), url('../font/godo-400.woff') format('woff');
}

@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 700;
    src: url('../font/godo-700.woff2') format('woff2'), url('../font/godo-700.woff') format('woff');
}
